In [265]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

In [266]:
df=pd.read_csv("D:/data science/Hr_Analyst/notebooks/data/HRDataset_v14.csv")

In [267]:
df

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,...,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,...,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,...,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,...,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

In [268]:
df.columns

Index(['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB',
       'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'DateofTermination', 'TermReason', 'EmploymentStatus',
       'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource',
       'PerformanceScore', 'EngagementSurvey', 'EmpSatisfaction',
       'SpecialProjectsCount', 'LastPerformanceReview_Date', 'DaysLateLast30',
       'Absences'],
      dtype='object')

In [269]:
df.isnull().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

In [270]:
#manage ull value
df=df.fillna(value=0)

In [271]:
df.describe()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Zip,ManagerID,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
count,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000
mean,10156.000000,0.398714,0.810289,0.434084,2.392283,4.610932,2.977492,0.093248,69020.684887,0.334405,16.845659,6555.482315,14.196141,4.110000,3.890675,1.218650,0.414791,10.237942
std,89.922189,0.490423,0.943239,0.496435,1.794383,1.083487,0.587072,0.291248,25156.636930,0.472542,6.223419,16908.396884,8.301386,0.789938,0.909241,2.349421,1.294519,5.852596
min,10001.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,45046.000000,0.000000,1.000000,1013.000000,0.000000,1.120000,1.000000,0.000000,0.000000,1.000000
25%,10078.500000,0.000000,0.000000,0.000000,1.000000,5.000000,3.000000,0.000000,55501.500000,0.000000,18.000000,1901.500000,9.500000,3.690000,3.000000,0.000000,0.000000,5.000000
50%,10156.000000,0.000000,1.000000,0.000000,1.000000,5.000000,3.000000,0.000000,62810.000000,0.000000,19.000000,2132.000000,14.000000,4.280000,4.000000,0.000000,0.000000,10.000000
75%,10233.500000,1.000000,1.000000,1.000000,5.000000,5.000000,3.000000,0.000000,72036.000000,1.000000,20.000000,2355.000000,19.000000,4.700000,5.000000,0.000000,0.000000,15.000000
max,10311.000000,1.000000,4.000000,1.000000,5.000000,6.000000,4.000000,1.000000,250000.000000,1.000000,30.000000,98052.000000,39.000000,5.000000,5.000000,8.000000,6.000000,20.000000

In [8]:
#At first dele inrelivant column

In [272]:
df.head().transpose

<bound method DataFrame.transpose of               Employee_Name  EmpID  MarriedID  MaritalStatusID  GenderID  \
0       Adinolfi, Wilson  K  10026          0                0         1
1  Ait Sidi, Karthikeyan     10084          1                1         1
2         Akinkuolie, Sarah  10196          1                1         0
3              Alagbe,Trina  10088          1                1         0
4          Anderson, Carol   10069          0                2         0

   EmpStatusID  DeptID  PerfScoreID  FromDiversityJobFairID  Salary  ...  \
0            1       5            4                       0   62506  ...
1            5       3            3                       0  104437  ...
2            5       5            3                       0   64955  ...
3            1       5            3                       0   64991  ...
4            5       5            3                       0   50825  ...

      ManagerName  ManagerID RecruitmentSource PerformanceScore  \
0  Michael Albert       22.0          LinkedIn          Exceeds
1      Simon Roup        4.0            Indeed      Fully Meets
2  Kissy Sullivan       20.0          LinkedIn      Fully Meets
3    Elijiah Gray       16.0            Indeed      Fully Meets
4  Webster Butler       39.0     Google Search      Fully Meets

   EngagementSurvey EmpSatisfaction SpecialProjectsCount  \
0              4.60               5                    0
1              4.96               3                    6
2              3.02               3                    0
3              4.84               5                    0
4              5.00               4                    0

  LastPerformanceReview_Date DaysLateLast30 Absences
0                  1/17/2019              0        1
1                  2/24/2016              0       17
2                  5/15/2012              0        3
3                   1/3/2019              0       15
4                   2/1/2016              0        2

[5 rows x 36 columns]>

In [273]:
df.shape

(311, 36)

In [274]:
df=df.drop(columns=['Employee_Name','EmpID','State','Sex','DOB','MaritalDesc','CitizenDesc','RaceDesc','LastPerformanceReview_Date','RecruitmentSource','ManagerName','ManagerID','MaritalStatusID','HispanicLatino','GenderID','EmpStatusID','DeptID','PerfScoreID','FromDiversityJobFairID','LastPerformanceReview_Date'],axis=1)

In [275]:
df=df.drop(columns=['Zip','DateofHire','DateofTermination','EngagementSurvey', 'SpecialProjectsCount', 'DaysLateLast30','MarriedID','PositionID'])

In [276]:
df.head()

,Salary,Termd,Position,TermReason,EmploymentStatus,Department,PerformanceScore,EmpSatisfaction,Absences
0,62506,0,Production Technician I,N/A-StillEmployed,Active,Production,Exceeds,5,1
1,104437,1,Sr. DBA,career change,Voluntarily Terminated,IT/IS,Fully Meets,3,17
2,64955,1,Production Technician II,hours,Voluntarily Terminated,Production,Fully Meets,3,3
3,64991,0,Production Technician I,N/A-StillEmployed,Active,Production,Fully Meets,5,15
4,50825,1,Production Technician I,return to school,Voluntarily Terminated,Production,Fully Meets,4,2

In [277]:
df.shape

(311, 9)

In [278]:
df.isnull().sum()

Salary              0
Termd               0
Position            0
TermReason          0
EmploymentStatus    0
Department          0
PerformanceScore    0
EmpSatisfaction     0
Absences            0
dtype: int64

In [16]:
#remove all null value from dataset

In [279]:
df=df.fillna(value=0)

In [280]:
x=df.drop(columns='EmploymentStatus')

In [281]:
y=df['EmploymentStatus']

In [282]:
y

0                      Active
1      Voluntarily Terminated
2      Voluntarily Terminated
3                      Active
4      Voluntarily Terminated
                ...
306                    Active
307    Voluntarily Terminated
308                    Active
309                    Active
310                    Active
Name: EmploymentStatus, Length: 311, dtype: object

In [283]:
x.head()

,Salary,Termd,Position,TermReason,Department,PerformanceScore,EmpSatisfaction,Absences
0,62506,0,Production Technician I,N/A-StillEmployed,Production,Exceeds,5,1
1,104437,1,Sr. DBA,career change,IT/IS,Fully Meets,3,17
2,64955,1,Production Technician II,hours,Production,Fully Meets,3,3
3,64991,0,Production Technician I,N/A-StillEmployed,Production,Fully Meets,5,15
4,50825,1,Production Technician I,return to school,Production,Fully Meets,4,2

In [284]:
categorical_columns=x.select_dtypes(include='object').columns

In [285]:
numerical_columns=x.select_dtypes(exclude='object').columns

In [286]:
categorical_columns

Index(['Position', 'TermReason', 'Department', 'PerformanceScore'], dtype='object')

In [287]:
numerical_columns

Index(['Salary', 'Termd', 'EmpSatisfaction', 'Absences'], dtype='object')

In [288]:
df[categorical_columns]["Position"].value_counts

<bound method IndexOpsMixin.value_counts of 0       Production Technician I
1                       Sr. DBA
2      Production Technician II
3       Production Technician I
4       Production Technician I
                 ...
306    Production Technician II
307     Production Technician I
308                         CIO
309                Data Analyst
310     Production Technician I
Name: Position, Length: 311, dtype: object>

In [176]:
x.shape

(311, 8)

In [177]:
y.shape

(311,)

In [178]:
df.head()

,Salary,Termd,Position,TermReason,EmploymentStatus,Department,PerformanceScore,EmpSatisfaction,Absences
0,62506,0,Production Technician I,N/A-StillEmployed,Active,Production,Exceeds,5,1
1,104437,1,Sr. DBA,career change,Voluntarily Terminated,IT/IS,Fully Meets,3,17
2,64955,1,Production Technician II,hours,Voluntarily Terminated,Production,Fully Meets,3,3
3,64991,0,Production Technician I,N/A-StillEmployed,Active,Production,Fully Meets,5,15
4,50825,1,Production Technician I,return to school,Voluntarily Terminated,Production,Fully Meets,4,2

In [179]:
categorical_columns

Index(['Position', 'TermReason', 'Department', 'PerformanceScore'], dtype='object')

In [180]:
df[categorical_columns]['PerformanceScore'].value_counts()

PerformanceScore
Fully Meets          243
Exceeds               37
Needs Improvement     18
PIP                   13
Name: count, dtype: int64

In [181]:
numerical_columns

Index(['Salary', 'Termd', 'EmpSatisfaction', 'Absences'], dtype='object')

In [182]:
x.value_counts().head()

Salary  Termd  Position                  TermReason         Department         PerformanceScore  EmpSatisfaction  Absences
45046   0      Production Technician I   N/A-StillEmployed  Production         Fully Meets       5                2           1
66541   0      Production Technician II  N/A-StillEmployed  Production         Fully Meets       5                4           1
67251   0      Area Sales Manager        N/A-StillEmployed  Sales              Fully Meets       3                7           1
67237   1      Production Technician II  more money         Production         Fully Meets       4                15          1
67176   1      Production Technician II  military           Production         Fully Meets       4                15          1
Name: count, dtype: int64

In [183]:
numerical_columns.value_counts()

Salary             1
Termd              1
EmpSatisfaction    1
Absences           1
Name: count, dtype: int64

In [184]:
categorical_columns.value_counts()

Position            1
TermReason          1
Department          1
PerformanceScore    1
Name: count, dtype: int64

In [194]:
df['Department'].values

array(['Production       ', 'IT/IS', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Software Engineering', 'Production       ', 'Production       ',
       'IT/IS', 'Production       ', 'Production       ', 'IT/IS',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'IT/IS',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'IT/IS', 'Admin Offices', 'Production       ', 'Production       ',
       'Admin Offices', 'Production       ', 'Production       ', 'Sales',
       'Production       ', 'Production       ', 'Software Engineering',
       'Production       ', 'Software Engineering', 'Production       ',
       'IT/IS', 'Sales', 'Production       ', 'IT/IS',
       'Production       ', 'Production       ', 'Sales',
       'Production       ', 'Production       ', 'IT/IS',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'IT/IS',
       'Production       ', 'IT/IS', 'Sales', 'IT/IS',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Software Engineering', 'Sales',
       'Production       ', 'Production       ', 'IT/IS',
       'Production       ', 'Sales', 'Production       ',
       'Production       ', 'IT/IS', 'IT/IS', 'Sales',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Software Engineering',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'IT/IS', 'Production       ',
       'Production       ', 'Production       ', 'Sales', 'IT/IS',
       'Admin Offices', 'Sales', 'IT/IS', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Sales', 'Production       ', 'Production       ', 'Sales',
       'IT/IS', 'IT/IS', 'Production       ', 'Production       ',
       'Production       ', 'IT/IS', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'IT/IS', 'Sales',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Sales', 'Production       ', 'IT/IS', 'Sales', 'Admin Offices',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'IT/IS',
       'Production       ', 'Production       ', 'Sales',
       'Production       ', 'Sales', 'Executive Office',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Sales', 'IT/IS', 'Production       ',
       'Production       ', 'Production       ', 'Admin Offices',
       'Production       ', 'IT/IS', 'Production       ', 'Admin Offices',
       'Production       ', 'Sales', 'Production       ',
       'Production       ', 'Production       ', 'IT/IS',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Software Engineering', 'Production       ', 'Production       ',
       'Production       ', 'Sales', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'IT/IS', 'Production       ',
       'Production       ', 'IT/IS', 'Production       ',
       'Production       ', 'Production       ', 'IT/IS',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Sales', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Sales', 'Production       ', 'Production       ', 'Sales',
       'Production       ', 'Software Engineering', 'IT/IS',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'IT/IS', 'Production       ', 'Production       ', 'Sales',
       'Production       ', 'Production       ', 'Production       ',
       'Software Engineering', 'IT/IS', 'Production       ', 'Sales',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'IT/IS', 'IT/IS', 'IT/IS',
       'Production       ', 'Production       ', 'IT/IS', 'IT/IS',
       'Software Engineering', 'Production       ', 'Production       ',
       'Production       ', 'IT/IS', 'Production       ',
       'Production       ', 'IT/IS', 'Production       ', 'IT/IS',
       'Admin Offices', 'Production       ', 'Production       ', 'Sales',
       'Admin Offices', 'Production       ', 'IT/IS', 'IT/IS',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Sales', 'Admin Offices', 'Production       ',
       'Sales', 'Production       ', 'Production       ',
       'Production       ', 'Software Engineering', 'IT/IS',
       'Production       ', 'Production       ', 'Sales',
       'Production       ', 'Production       ', 'Production       ',
       'Sales', 'Production       ', 'IT/IS', 'Software Engineering',
       'Production       ', 'IT/IS', 'Sales', 'Production       ',
       'Production       ', 'Sales', 'IT/IS', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'IT/IS', 'IT/IS', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'IT/IS', 'IT/IS', 'Production       '],
      dtype=object)

In [195]:
df['Position'].values

array(['Production Technician I', 'Sr. DBA', 'Production Technician II',
       'Production Technician I', 'Production Technician I',
       'Production Technician I', 'Software Engineer',
       'Production Technician I', 'Production Technician I', 'IT Support',
       'Production Technician I', 'Production Technician I',
       'Data Analyst', 'Production Technician I',
       'Production Technician I', 'Production Technician I',
       'Production Technician II', 'Production Technician I',
       'Database Administrator', 'Production Technician I',
       'Production Technician I', 'Production Technician I',
       'Production Technician I', 'Production Technician II',
       'Production Technician II', 'Enterprise Architect',
       'Sr. Accountant', 'Production Manager', 'Production Technician I',
       'Accountant I', 'Production Technician II',
       'Production Technician I', 'Area Sales Manager',
       'Production Technician II', 'Production Technician II',
       'Software Engineering Manager', 'Production Manager',
       'Software Engineer', 'Production Technician I', 'Sr. DBA',
       'Area Sales Manager', 'Production Technician I', 'BI Director',
       'Production Technician I', 'Production Technician I',
       'Area Sales Manager', 'Production Technician I',
       'Production Technician I', 'IT Support',
       'Production Technician II', 'Production Technician II',
       'Production Technician I', 'Production Technician I',
       'Production Technician I', 'Production Manager',
       'Director of Operations', 'Production Technician I',
       'Data Analyst', 'Production Technician I', 'Sr. Network Engineer',
       'Sales Manager', 'Sr. Network Engineer', 'Production Technician I',
       'Production Technician II', 'Production Technician I',
       'Production Technician I', 'Software Engineer',
       'Area Sales Manager', 'Production Technician II',
       'Production Technician I', 'BI Developer',
       'Production Technician I', 'Area Sales Manager',
       'Production Technician I', 'Production Technician I', 'IT Support',
       'IT Manager - Support', 'Area Sales Manager', 'Production Manager',
       'Production Technician I', 'Production Technician I',
       'Production Technician I', 'Production Technician I',
       'Production Technician II', 'Production Technician I',
       'Production Technician I', 'Software Engineer',
       'Production Technician II', 'Production Technician II',
       'Production Technician I', 'Production Technician I',
       'Network Engineer', 'Production Technician I',
       'Production Technician II', 'Production Technician II',
       'Area Sales Manager', 'IT Director', 'Sr. Accountant',
       'Area Sales Manager', 'IT Support', 'Production Technician I',
       'Production Technician I', 'Production Technician I',
       'Production Technician I', 'Area Sales Manager',
       'Production Technician I', 'Production Technician I',
       'Area Sales Manager', 'Database Administrator', 'IT Support',
       'Production Technician I', 'Production Technician I',
       'Production Technician II', 'IT Support',
       'Production Technician II', 'Production Technician I',
       'Production Technician II', 'Production Technician I',
       'Production Manager', 'Production Technician I', 'BI Developer',
       'Area Sales Manager', 'Production Technician I',
       'Production Technician II', 'Production Technician I',
       'Production Technician I', 'Production Technician I',
       'Production Technician II', 'Area Sales Manager',
       'Production Technician II', 'Database Administrator',
       'Director of Sales', 'Administrative Assistant',
       'Production Technician I', 'Production Technician II',
       'Production Technician II', 'Production Technician II',
       'Production Manager', 'Production Technician I',
       'Production Technician I', 'Production Technician I',
       'Production Technician II', 'Production Technician I',
       'Production Technician I', 'Database Administrator',
       'Production Technician II', 'Production Technician I',
       'Sales Manager', 'Production Technician I', 'Area Sales Manager',
       'President & CEO', 'Production Technician I',
       'Production Technician I', 'Production Technician I',
       'Production Technician I', 'Area Sales Manager',
       'Sr. Network Engineer', 'Production Manager',
       'Production Technician II', 'Production Technician I',
       'Accountant I', 'Production Technician II', 'Senior BI Developer',
       'Production Technician I', 'Shared Services Manager',
       'Production Technician I', 'Area Sales Manager',
       'Production Manager', 'Production Technician I',
       'Production Technician II', 'IT Support',
       'Production Technician II', 'Production Technician II',
       'Production Technician I', 'Production Technician I',
       'Production Technician I', 'Production Technician I',
       'Production Technician II', 'Production Technician II',
       'Production Technician I', 'Software Engineer',
       'Production Technician I', 'Production Technician II',
       'Production Technician I', 'Area Sales Manager',
       'Production Technician I', 'Production Technician I',
       'Production Manager', 'Production Technician II',
       'Production Technician II', 'IT Manager - Infra',
       'Production Technician II', 'Production Technician II',
       'Network Engineer', 'Production Technician I',
       'Production Technician II', 'Production Technician I',
       'Senior BI Developer', 'Production Technician I',
       'Production Technician I', 'Production Technician I',
       'Production Technician I', 'Area Sales Manager',
       'Production Technician I', 'Production Technician II',
       'Production Technician I', 'Production Technician II',
       'Area Sales Manager', 'Production Technician I',
       'Production Technician I', 'Area Sales Manager',
       'Production Technician I', 'Software Engineer', 'Data Analyst',
       'Production Technician I', 'Production Technician II',
       'Production Technician I', 'Production Technician II',
       'Production Manager', 'Production Technician II', 'Data Analyst',
       'Production Technician I', 'Production Technician I',
       'Area Sales Manager', 'Production Technician I',
       'Production Technician I', 'Production Technician I',
       'Software Engineer', 'BI Developer', 'Production Technician I',
       'Area Sales Manager', 'Production Technician I',
       'Production Technician I', 'Production Technician II',
       'Production Technician II', 'Production Technician I',
       'Production Technician I', 'Production Technician I',
       'Data Analyst', 'Principal Data Architect', 'Data Architect',
       'Production Technician I', 'Production Technician I',
       'IT Manager - DB', 'IT Manager - DB', 'Software Engineer',
       'Production Technician I', 'Production Technician I',
       'Production Technician II', 'Data Analyst ',
       'Production Technician I', 'Production Technician I',
       'Network Engineer', 'Production Technician I', 'Data Analyst',
       'Administrative Assistant', 'Production Technician II',
       'Production Technician II', 'Sales Manager',
       'Administrative Assistant', 'Production Technician I',
       'IT Support', 'Sr. Network Engineer', 'Production Technician I',
       'Production Manager', 'Production Technician I',
       'Production Technician I', 'Area Sales Manager', 'Accountant I',
       'Production Technician I', 'Area Sales Manager',
       'Production Manager', 'Production Technician I',
       'Production Technician I', 'Software Engineer', 'BI Developer',
       'Production Technician I', 'Production Technician II',
       'Area Sales Manager', 'Production Technician I',
       'Production Technician II', 'Production Technician I',
       'Area Sales Manager', 'Production Technician I',
       'Network Engineer', 'Software Engineer',
       'Production Technician II', 'Network Engineer',
       'Area Sales Manager', 'Production Technician I',
       'Production Manager', 'Area Sales Manager',
       'Database Administrator', 'Production Technician I',
       'Production Technician I', 'Production Technician II',
       'Production Manager', 'Production Technician I',
       'Senior BI Developer', 'Sr. Network Engineer',
       'Production Technician I', 'Production Technician I',
       'Production Technician I', 'Production Technician I',
       'Production Technician II', 'Production Technician II',
       'Production Technician II', 'Production Technician I', 'CIO',
       'Data Analyst', 'Production Technician I'], dtype=object)

In [188]:
df[categorical_columns]['TermReason'].transpose

<bound method IndexOpsMixin.transpose of 0      N/A-StillEmployed
1          career change
2                  hours
3      N/A-StillEmployed
4       return to school
             ...
306    N/A-StillEmployed
307     Another position
308    N/A-StillEmployed
309    N/A-StillEmployed
310    N/A-StillEmployed
Name: TermReason, Length: 311, dtype: object>

In [199]:
df['Department'].values

array(['Production       ', 'IT/IS', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Software Engineering', 'Production       ', 'Production       ',
       'IT/IS', 'Production       ', 'Production       ', 'IT/IS',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'IT/IS',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'IT/IS', 'Admin Offices', 'Production       ', 'Production       ',
       'Admin Offices', 'Production       ', 'Production       ', 'Sales',
       'Production       ', 'Production       ', 'Software Engineering',
       'Production       ', 'Software Engineering', 'Production       ',
       'IT/IS', 'Sales', 'Production       ', 'IT/IS',
       'Production       ', 'Production       ', 'Sales',
       'Production       ', 'Production       ', 'IT/IS',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'IT/IS',
       'Production       ', 'IT/IS', 'Sales', 'IT/IS',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Software Engineering', 'Sales',
       'Production       ', 'Production       ', 'IT/IS',
       'Production       ', 'Sales', 'Production       ',
       'Production       ', 'IT/IS', 'IT/IS', 'Sales',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Software Engineering',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'IT/IS', 'Production       ',
       'Production       ', 'Production       ', 'Sales', 'IT/IS',
       'Admin Offices', 'Sales', 'IT/IS', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Sales', 'Production       ', 'Production       ', 'Sales',
       'IT/IS', 'IT/IS', 'Production       ', 'Production       ',
       'Production       ', 'IT/IS', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'IT/IS', 'Sales',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Sales', 'Production       ', 'IT/IS', 'Sales', 'Admin Offices',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'IT/IS',
       'Production       ', 'Production       ', 'Sales',
       'Production       ', 'Sales', 'Executive Office',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Sales', 'IT/IS', 'Production       ',
       'Production       ', 'Production       ', 'Admin Offices',
       'Production       ', 'IT/IS', 'Production       ', 'Admin Offices',
       'Production       ', 'Sales', 'Production       ',
       'Production       ', 'Production       ', 'IT/IS',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Software Engineering', 'Production       ', 'Production       ',
       'Production       ', 'Sales', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'IT/IS', 'Production       ',
       'Production       ', 'IT/IS', 'Production       ',
       'Production       ', 'Production       ', 'IT/IS',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Sales', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Sales', 'Production       ', 'Production       ', 'Sales',
       'Production       ', 'Software Engineering', 'IT/IS',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'IT/IS', 'Production       ', 'Production       ', 'Sales',
       'Production       ', 'Production       ', 'Production       ',
       'Software Engineering', 'IT/IS', 'Production       ', 'Sales',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'IT/IS', 'IT/IS', 'IT/IS',
       'Production       ', 'Production       ', 'IT/IS', 'IT/IS',
       'Software Engineering', 'Production       ', 'Production       ',
       'Production       ', 'IT/IS', 'Production       ',
       'Production       ', 'IT/IS', 'Production       ', 'IT/IS',
       'Admin Offices', 'Production       ', 'Production       ', 'Sales',
       'Admin Offices', 'Production       ', 'IT/IS', 'IT/IS',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Sales', 'Admin Offices', 'Production       ',
       'Sales', 'Production       ', 'Production       ',
       'Production       ', 'Software Engineering', 'IT/IS',
       'Production       ', 'Production       ', 'Sales',
       'Production       ', 'Production       ', 'Production       ',
       'Sales', 'Production       ', 'IT/IS', 'Software Engineering',
       'Production       ', 'IT/IS', 'Sales', 'Production       ',
       'Production       ', 'Sales', 'IT/IS', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'IT/IS', 'IT/IS', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'Production       ', 'Production       ',
       'Production       ', 'IT/IS', 'IT/IS', 'Production       '],
      dtype=object)

In [198]:
df['Department'].unique()

array(['Production       ', 'IT/IS', 'Software Engineering',
       'Admin Offices', 'Sales', 'Executive Office'], dtype=object)

In [289]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder


# Define column lists
ordinal_categories = [['Exceeds', 'Fully Meets','Needs Improvement','PIP'],['Voluntarily Terminated','Active','Terminated for Cause'],['Production Technician I','Software Engineering Manager','Database Administrator','IT Support','Sr. DBA', 'Data Analyst','Area Sales Manager','BI Director','CIO','Production Manager', 'Sr. Accountant','Production Technician II','Accountant I','Enterprise Architect'],['Production','IT/IS','Software Engineering',
       'Admin Offices', 'Sales', 'Executive Office']]  # Wrapped in another list for OrdinalEncoder
ordinal_columns = ['PerformanceScore','TermReason','Department','Position']
numerical_column = ['Salary','Termd',
                     'EmpSatisfaction', 
                     'Absences']  # Removed 'Sex' from numerical columns

# Create the ColumnTransformer
transformer = ColumnTransformer(
    transformers=[
        ('num', Pipeline(steps=[
            ('imputer', SimpleImputer(strategy='mean')),  # Impute missing values for numerical columns
            ('scaler', StandardScaler())  # Scale numerical features
        ]), numerical_column),
        ('ord', Pipeline(steps=[
            ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),  # Impute missing values
            ('ord_encoder', OrdinalEncoder(categories=ordinal_categories, handle_unknown='use_encoded_value', unknown_value=-1))
        ]), ordinal_columns)  # Encode ordinal features
    ],
    remainder='passthrough'
)

In [290]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [291]:
X_train.shape

(233, 8)

In [292]:
X_test.shape

(78, 8)

In [293]:
y_train

140                    Active
208                    Active
279    Voluntarily Terminated
203                    Active
144                    Active
                ...
188    Voluntarily Terminated
71                     Active
106                    Active
270                    Active
102                    Active
Name: EmploymentStatus, Length: 233, dtype: object

In [204]:
transformer

ColumnTransformer(remainder='passthrough',
                  transformers=[('num',
                                 Pipeline(steps=[('imputer', SimpleImputer()),
                                                 ('scaler', StandardScaler())]),
                                 ['Salary', 'Termd', 'EmpSatisfaction',
                                  'Absences']),
                                ('ord',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(fill_value='missing',
                                                                strategy='constant')),
                                                 ('ord_encoder',
                                                  OrdinalEncoder(categories=[['Exceeds',
                                                                              'Fully '
                                                                              'Meets',
                                                                              'Need...
                                                                              'Manager',
                                                                              'BI '
                                                                              'Director',
                                                                              'CIO',
                                                                              'Production '
                                                                              'Manager',
                                                                              'Sr. '
                                                                              'Accountant',
                                                                              'Production '
                                                                              'Technician '
                                                                              'II',
                                                                              'Accountant '
                                                                              'I',
                                                                              'Enterprise '
                                                                              'Architect'],
                                                                             ['Production',
                                                                              'IT/IS',
                                                                              'Software '
                                                                              'Engineering',
                                                                              'Admin '
                                                                              'Offices',
                                                                              'Sales',
                                                                              'Executive '
                                                                              'Office']],
                                                                 handle_unknown='use_encoded_value',
                                                                 unknown_value=-1))]),
                                 ['PerformanceScore', 'TermReason',
                                  'Department', 'Position'])])

In [295]:
x_scale_train=transformer.fit_transform(X_train)

In [297]:
x_scale_test=transformer.transform(X_test)

In [298]:
y_train

140                    Active
208                    Active
279    Voluntarily Terminated
203                    Active
144                    Active
                ...
188    Voluntarily Terminated
71                     Active
106                    Active
270                    Active
102                    Active
Name: EmploymentStatus, Length: 233, dtype: object

y_train

In [299]:
X_train=pd.DataFrame(x_scale_train,columns=transformer.get_feature_names_out())
X_test=pd.DataFrame(x_scale_test,columns=transformer.get_feature_names_out())

In [300]:
X_train

,num__Salary,num__Termd,num__EmpSatisfaction,num__Absences,ord__PerformanceScore,ord__TermReason,ord__Department,ord__Position
0,-0.947696,-0.716231,1.254915,-0.513656,1.0,-1.0,-1.0,-1.0
1,-0.852641,-0.716231,-0.927139,0.531600,0.0,-1.0,-1.0,-1.0
2,-0.812147,1.396197,0.163888,-1.558912,1.0,-1.0,-1.0,-1.0
3,-0.258925,-0.716231,1.254915,-1.036284,1.0,-1.0,-1.0,-1.0
4,1.509981,-0.716231,-0.927139,-1.384702,1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...
228,-0.512715,1.396197,-2.018165,-0.687865,3.0,-1.0,-1.0,-1.0
229,-0.696784,-0.716231,0.163888,-1.558912,1.0,-1.0,-1.0,-1.0
230,-0.431037,-0.716231,0.163888,-1.210493,0.0,-1.0,-1.0,-1.0
231,-0.337604,-0.716231,0.163888,1.402647,1.0,-1.0,-1.0,-1.0
232,-0.693622,-0.716231,-0.927139,1.576856,1.0,-1.0,-1.0,-1.0

In [301]:
y_train

140                    Active
208                    Active
279    Voluntarily Terminated
203                    Active
144                    Active
                ...
188    Voluntarily Terminated
71                     Active
106                    Active
270                    Active
102                    Active
Name: EmploymentStatus, Length: 233, dtype: object

In [215]:
print(X_train.shape)

(233, 8)

In [216]:
print(y_train.shape)

(233,)

In [217]:
X_test

,num__Salary,num__Termd,num__EmpSatisfaction,num__Absences,ord__PerformanceScore,ord__TermReason,ord__Department,ord__Position
0,0.832074,-0.716231,-0.927139,1.576856,1.0,-1.0,-1.0,-1.0
1,-0.740602,-0.716231,1.254915,1.054228,1.0,-1.0,-1.0,-1.0
2,0.612212,-0.716231,-0.927139,-1.384702,1.0,-1.0,-1.0,-1.0
3,-0.110243,-0.716231,0.163888,-0.339446,1.0,-1.0,-1.0,-1.0
4,1.425385,1.396197,1.254915,-1.384702,1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...
73,-0.128119,-0.716231,-0.927139,-0.165237,1.0,-1.0,-1.0,-1.0
74,-0.224511,-0.716231,-0.927139,1.576856,0.0,-1.0,-1.0,-1.0
75,-0.412472,-0.716231,-2.018165,-0.862074,3.0,-1.0,-1.0,-1.0
76,-0.205419,-0.716231,1.254915,-0.687865,1.0,-1.0,-1.0,-1.0
77,-0.728280,-0.716231,0.163888,0.008972,1.0,-1.0,-1.0,-1.0

In [218]:
y_train

140                    Active
208                    Active
279    Voluntarily Terminated
203                    Active
144                    Active
                ...
188    Voluntarily Terminated
71                     Active
106                    Active
270                    Active
102                    Active
Name: EmploymentStatus, Length: 233, dtype: object

In [311]:
x.columns

Index(['Salary', 'Termd', 'Position', 'TermReason', 'Department',
       'PerformanceScore', 'EmpSatisfaction', 'Absences'],
      dtype='object')

In [312]:
y_train.value_counts()

EmploymentStatus
Active                    154
Voluntarily Terminated     67
Terminated for Cause       12
Name: count, dtype: int64

In [313]:
print(X_train.dtypes)

num__Salary              float64
num__Termd               float64
num__EmpSatisfaction     float64
num__Absences            float64
ord__PerformanceScore    float64
ord__TermReason          float64
ord__Department          float64
ord__Position            float64
dtype: object

In [314]:

print(y_train.dtypes)

object

In [315]:
X_train.head()

,num__Salary,num__Termd,num__EmpSatisfaction,num__Absences,ord__PerformanceScore,ord__TermReason,ord__Department,ord__Position
0,-0.947696,-0.716231,1.254915,-0.513656,1.0,-1.0,-1.0,-1.0
1,-0.852641,-0.716231,-0.927139,0.531600,0.0,-1.0,-1.0,-1.0
2,-0.812147,1.396197,0.163888,-1.558912,1.0,-1.0,-1.0,-1.0
3,-0.258925,-0.716231,1.254915,-1.036284,1.0,-1.0,-1.0,-1.0
4,1.509981,-0.716231,-0.927139,-1.384702,1.0,-1.0,-1.0,-1.0

In [303]:
y_train.head()

140                    Active
208                    Active
279    Voluntarily Terminated
203                    Active
144                    Active
Name: EmploymentStatus, dtype: object

In [238]:
from sklearn.metrics import accuracy_score

In [239]:
from sklearn import metrics

In [340]:
from sklearn.svm import SVC

SV = SVC()  # 'ovo' is also an option
SV.fit(X_train, y_train)
y_pred = SV.predict(X_test)
pred_score=accuracy_score(y_test,y_pred)
print("Accuracy_score",pred_score)

Accuracy_score 0.9487179487179487

In [341]:
from sklearn.neighbors import KNeighborsClassifier

KN = KNeighborsClassifier(n_neighbors=3)
KN.fit(X_train, y_train)
y_pred1 = KN.predict(X_test)
pred_score1=accuracy_score(y_test,y_pred)
print("accuracy_score",pred_score1)

accuracy_score 0.9487179487179487

In [342]:
from sklearn.tree import DecisionTreeClassifier
tree=DecisionTreeClassifier()
tree.fit(X_train,y_train)
y_pred==tree.predict(X_test)
pred_score2=accuracy_score(y_pred1,y_test)
print("accuracy_score",pred_score2)

accuracy_score 0.9358974358974359

In [319]:
from sklearn.ensemble import RandomForestClassifier
rand=RandomForestClassifier()
rand.fit(X_train,y_train)
y_pred=rand.predict(X_test)
pred_score3=accuracy_score(y_test,y_pred)
print("accuracy_score",pred_score3)

accuracy_score 0.9358974358974359

In [343]:
#model Training

In [344]:
models={
    'SVC':SVC(),
    'KNeighborsClassifier' :KNeighborsClassifier(),
    'DecisionTreeClassifier':DecisionTreeClassifier(),
    'RandomForest':RandomForestClassifier()
}

In [345]:
print(list(models))

['SVC', 'KNeighborsClassifier', 'DecisionTreeClassifier', 'RandomForest']

In [346]:
pd.DataFrame({"Model Names":['SVC', 'KNeighborsClassifier', 'DecisionTreeClassifier', 'RandomForestClassifier'],
            "Accuracy socre":[pred_score,pred_score1,pred_score2,pred_score3]})

              Model Names  Accuracy socre
0                     SVC        0.948718
1    KNeighborsClassifier        0.948718
2  DecisionTreeClassifier        0.935897
3  RandomForestClassifier        0.935897

In [69]:
#here we accept RandomForestClasifier it give the best accuracy

In [339]:
KN.predict([[2,2,2,2,2,2,2,2]])

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['Voluntarily Terminated'], dtype=object)

In [310]:
#now i make a pickle file

In [347]:
import pickle

In [348]:
pickle.dump(KN,open("model.pkl","wb"))

In [349]:
model=pickle.load(open('model.pkl','rb'))

In [351]:
KN.predict([[0,1,0,1,0,1,0,0]])

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['Voluntarily Terminated'], dtype=object)

In [263]:
import os

# Print the current working directory
print("Current Directory:", os.getcwd())

Current Directory: d:\data science\Hr_Analyst\notebooks\data

In [257]:
print("Files in Directory:", os.listdir())

Files in Directory: ['.gitkeep', 'eda.ipynb', 'HRDataset_v14.csv', 'model.pkl']