In [43]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

In [44]:
df=pd.read_csv("D:/data science/Hr_Analyst/notebooks/data/HRDataset_v14.csv")

In [45]:
df

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,...,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,...,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,...,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,...,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

In [46]:
df.columns

Index(['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB',
       'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'DateofTermination', 'TermReason', 'EmploymentStatus',
       'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource',
       'PerformanceScore', 'EngagementSurvey', 'EmpSatisfaction',
       'SpecialProjectsCount', 'LastPerformanceReview_Date', 'DaysLateLast30',
       'Absences'],
      dtype='object')

In [48]:
df.isnull().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

In [49]:
#manage ull value
df=df.fillna(value=0)

In [50]:
df.describe()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Zip,ManagerID,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
count,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000
mean,10156.000000,0.398714,0.810289,0.434084,2.392283,4.610932,2.977492,0.093248,69020.684887,0.334405,16.845659,6555.482315,14.196141,4.110000,3.890675,1.218650,0.414791,10.237942
std,89.922189,0.490423,0.943239,0.496435,1.794383,1.083487,0.587072,0.291248,25156.636930,0.472542,6.223419,16908.396884,8.301386,0.789938,0.909241,2.349421,1.294519,5.852596
min,10001.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,45046.000000,0.000000,1.000000,1013.000000,0.000000,1.120000,1.000000,0.000000,0.000000,1.000000
25%,10078.500000,0.000000,0.000000,0.000000,1.000000,5.000000,3.000000,0.000000,55501.500000,0.000000,18.000000,1901.500000,9.500000,3.690000,3.000000,0.000000,0.000000,5.000000
50%,10156.000000,0.000000,1.000000,0.000000,1.000000,5.000000,3.000000,0.000000,62810.000000,0.000000,19.000000,2132.000000,14.000000,4.280000,4.000000,0.000000,0.000000,10.000000
75%,10233.500000,1.000000,1.000000,1.000000,5.000000,5.000000,3.000000,0.000000,72036.000000,1.000000,20.000000,2355.000000,19.000000,4.700000,5.000000,0.000000,0.000000,15.000000
max,10311.000000,1.000000,4.000000,1.000000,5.000000,6.000000,4.000000,1.000000,250000.000000,1.000000,30.000000,98052.000000,39.000000,5.000000,5.000000,8.000000,6.000000,20.000000

In [51]:
df.isnull().sum()

Employee_Name                 0
EmpID                         0
MarriedID                     0
MaritalStatusID               0
GenderID                      0
EmpStatusID                   0
DeptID                        0
PerfScoreID                   0
FromDiversityJobFairID        0
Salary                        0
Termd                         0
PositionID                    0
Position                      0
State                         0
Zip                           0
DOB                           0
Sex                           0
MaritalDesc                   0
CitizenDesc                   0
HispanicLatino                0
RaceDesc                      0
DateofHire                    0
DateofTermination             0
TermReason                    0
EmploymentStatus              0
Department                    0
ManagerName                   0
ManagerID                     0
RecruitmentSource             0
PerformanceScore              0
EngagementSurvey              0
EmpSatisfaction               0
SpecialProjectsCount          0
LastPerformanceReview_Date    0
DaysLateLast30                0
Absences                      0
dtype: int64

In [13]:
#At first dele inrelivant column

In [52]:
df

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,...,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,...,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,...,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,...,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

In [10]:
df.shape

(311, 36)

In [11]:
df=df.drop(columns=['Employee_Name','State','DOB','MaritalDesc','CitizenDesc','RaceDesc','LastPerformanceReview_Date','RecruitmentSource','ManagerName','ManagerID','MaritalStatusID','GenderID','EmpStatusID','DeptID','PerfScoreID','FromDiversityJobFairID'],axis=1)

In [53]:
df

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,...,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,...,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,...,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,...,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

In [12]:
df.shape

(311, 20)

In [61]:
df.isnull().sum()

Employee_Name                 0
EmpID                         0
MarriedID                     0
MaritalStatusID               0
GenderID                      0
EmpStatusID                   0
DeptID                        0
PerfScoreID                   0
FromDiversityJobFairID        0
Salary                        0
Termd                         0
PositionID                    0
Position                      0
State                         0
Zip                           0
DOB                           0
Sex                           0
MaritalDesc                   0
CitizenDesc                   0
HispanicLatino                0
RaceDesc                      0
DateofHire                    0
DateofTermination             0
TermReason                    0
EmploymentStatus              0
Department                    0
ManagerName                   0
ManagerID                     0
RecruitmentSource             0
PerformanceScore              0
EngagementSurvey              0
EmpSatisfaction               0
SpecialProjectsCount          0
LastPerformanceReview_Date    0
DaysLateLast30                0
Absences                      0
dtype: int64

In [ ]:
#remove all null value from dataset

In [14]:
df=df.fillna(value=0)

In [15]:
df.isnull().sum()

EmpID                   0
MarriedID               0
Salary                  0
Termd                   0
PositionID              0
Position                0
Zip                     0
Sex                     0
HispanicLatino          0
DateofHire              0
DateofTermination       0
TermReason              0
EmploymentStatus        0
Department              0
PerformanceScore        0
EngagementSurvey        0
EmpSatisfaction         0
SpecialProjectsCount    0
DaysLateLast30          0
Absences                0
dtype: int64

In [54]:
x=df.drop(columns='EmploymentStatus')

In [55]:
y=df['EmploymentStatus']

In [56]:
y

0                      Active
1      Voluntarily Terminated
2      Voluntarily Terminated
3                      Active
4      Voluntarily Terminated
                ...
306                    Active
307    Voluntarily Terminated
308                    Active
309                    Active
310                    Active
Name: EmploymentStatus, Length: 311, dtype: object

In [57]:
categorical_columns=x.select_dtypes(include='object').columns

In [58]:
numerical_columns=x.select_dtypes(exclude='object').columns

In [64]:
categorical_columns

Index(['Position', 'Sex', 'HispanicLatino', 'DateofHire', 'DateofTermination',
       'TermReason', 'Department', 'PerformanceScore'],
      dtype='object')

In [65]:
numerical_columns

Index(['EmpID', 'MarriedID', 'Salary', 'Termd', 'PositionID', 'Zip',
       'EngagementSurvey', 'EmpSatisfaction', 'SpecialProjectsCount',
       'DaysLateLast30', 'Absences'],
      dtype='object')

In [59]:
df[categorical_columns]["Position"].value_counts

<bound method IndexOpsMixin.value_counts of 0       Production Technician I
1                       Sr. DBA
2      Production Technician II
3       Production Technician I
4       Production Technician I
                 ...
306    Production Technician II
307     Production Technician I
308                         CIO
309                Data Analyst
310     Production Technician I
Name: Position, Length: 311, dtype: object>

In [207]:
df[categorical_columns]["Sex"].value_counts()

Sex
F     176
M     135
Name: count, dtype: int64

In [22]:
df[categorical_columns]["DateofHire"].value_counts()

DateofHire
1/10/2011    14
3/30/2015    12
1/5/2015     11
9/29/2014    11
7/5/2011     10
             ..
3/7/2011      1
7/9/2012      1
1/5/2016      1
4/30/2012     1
4/10/2010     1
Name: count, Length: 101, dtype: int64

In [183]:
df[categorical_columns]["HispanicLatino"].value_counts()

HispanicLatino
No     282
Yes     27
no       1
yes      1
Name: count, dtype: int64

In [209]:
df[categorical_columns]["PerformanceScore"].value_counts()

PerformanceScore
Fully Meets          243
Exceeds               37
Needs Improvement     18
PIP                   13
Name: count, dtype: int64

In [60]:
x.shape

(311, 35)

In [61]:
y.shape

(311,)

In [62]:
from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # Ordinal Encoding
from sklearn.preprocessing import OneHotEncoder  #nominal Encoding
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [63]:
df

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,...,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,...,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,...,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,...,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

In [213]:
categorical_columns

Index(['Position', 'Sex', 'HispanicLatino', 'DateofHire', 'DateofTermination',
       'TermReason', 'Department', 'PerformanceScore'],
      dtype='object')

In [65]:
df[categorical_columns]['PerformanceScore'].value_counts()

PerformanceScore
Fully Meets          243
Exceeds               37
Needs Improvement     18
PIP                   13
Name: count, dtype: int64

In [66]:
numerical_columns

Index(['EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID', 'EmpStatusID',
       'DeptID', 'PerfScoreID', 'FromDiversityJobFairID', 'Salary', 'Termd',
       'PositionID', 'Zip', 'ManagerID', 'EngagementSurvey', 'EmpSatisfaction',
       'SpecialProjectsCount', 'DaysLateLast30', 'Absences'],
      dtype='object')

In [23]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [221]:
import numpy as np

In [67]:
X_train

,EmpID,MarriedID,Salary,Termd,PositionID,Position,Zip,Sex,HispanicLatino,DateofHire,DateofTermination,TermReason,Department,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
140,10236,0,45069,0,19,Production Technician I,1778,F,No,9/30/2013,0,N/A-StillEmployed,Production,Fully Meets,4.30,5,0,0,7
208,10021,1,47414,0,19,Production Technician I,2478,M,No,9/30/2013,0,N/A-StillEmployed,Production,Exceeds,5.00,3,0,0,13
279,10141,0,48413,1,19,Production Technician I,2066,F,No,7/5/2011,9/5/2016,return to school,Production,Fully Meets,3.98,4,0,0,1
203,10206,0,62061,0,19,Production Technician I,2132,F,No,7/8/2013,0,N/A-StillEmployed,Production,Fully Meets,3.60,5,0,0,4
144,10156,1,105700,0,8,Database Administrator,2301,F,No,1/5/2015,0,N/A-StillEmployed,IT/IS,Fully Meets,3.75,3,5,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,10298,0,55800,1,20,Production Technician II,2472,M,No,8/15/2011,9/4/2014,unhappy,Production,PIP,3.00,2,0,6,6
71,10276,0,51259,0,19,Production Technician I,2180,M,No,5/12/2014,0,N/A-StillEmployed,Production,Fully Meets,4.30,4,0,0,1
106,10018,0,57815,0,19,Production Technician I,2451,F,Yes,9/29/2014,0,N/A-StillEmployed,Production,Exceeds,3.90,4,0,0,3
270,10241,1,60120,0,3,Area Sales Manager,59102,F,No,9/27/2010,0,N/A-StillEmployed,Sales,Fully Meets,4.10,4,0,0,18
102,10159,1,51337,0,19,Production Technician I,2145,F,No,3/30/2015,0,N/A-StillEmployed,Production,Fully Meets,3.73,3,0,0,19

In [120]:
X_test

,EmpID,MarriedID,Salary,Termd,PositionID,Position,Zip,Sex,HispanicLatino,DateofHire,DateofTermination,TermReason,Department,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
290,10144,0,88976,0,17,Production Manager,2169,M,No,8/1/2011,0,N/A-StillEmployed,Production,Fully Meets,3.93,3,0,0,19
9,10250,0,50178,0,14,IT Support,1886,M,No,1/5/2015,0,N/A-StillEmployed,IT/IS,Fully Meets,5.00,5,6,0,16
57,10193,1,83552,0,9,Data Analyst,1810,M,No,3/30/2015,0,N/A-StillEmployed,IT/IS,Fully Meets,3.04,3,6,0,2
60,10099,0,65729,0,21,Sales Manager,5473,F,No,5/5/2014,0,N/A-StillEmployed,Sales,Fully Meets,4.62,4,0,0,8
25,10199,0,103613,1,30,Enterprise Architect,6033,M,No,2/17/2014,2/19/2016,Learned that he is a gangster,IT/IS,Fully Meets,3.50,5,7,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,10184,0,65288,0,20,Production Technician II,1013,M,No,9/29/2014,0,N/A-StillEmployed,Production,Fully Meets,3.19,3,0,0,9
22,10003,1,62910,0,19,Production Technician I,2031,F,No,7/7/2014,0,N/A-StillEmployed,Production,Exceeds,5.00,3,0,0,19
267,10307,1,58273,0,3,Area Sales Manager,89139,M,No,5/12/2014,0,N/A-StillEmployed,Sales,PIP,1.81,2,0,3,5
56,10094,1,63381,0,19,Production Technician I,2189,F,Yes,1/5/2015,0,N/A-StillEmployed,Production,Fully Meets,4.73,5,0,0,6
148,10192,0,50482,0,19,Production Technician I,1887,M,No,9/30/2013,0,N/A-StillEmployed,Production,Fully Meets,3.07,4,0,0,10

In [68]:
from sklearn.compose import ColumnTransformer

In [69]:
X_train.shape

(233, 19)

In [70]:
from sklearn.compose import ColumnTransformer

In [32]:
X_train,X_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.25)

In [73]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
import numpy as np

# First, convert all columns in X_train to strings globally
X_train = X_train.astype(str)

# Define column lists
categorical_column = ['Sex', 'PerformanceScore']
ordinal_categories = [['Male', 'Female'], ['Exceeds', 'Fully Meets', 'Needs Improvement', 'PIP']]
ordinal_columns = ['Sex', 'PerformanceScore']
one_hot_columns = ['Position', 'HispanicLatino', 'DateofHire', 'DateofTermination', 'TermReason', 'Department']
numerical_column = ['EmpID', 'MarriedID', 'Salary', 'Termd', 'PositionID', 'Zip',
                    'EngagementSurvey', 'EmpSatisfaction', 'SpecialProjectsCount',
                    'DaysLateLast30', 'Absences']  # Flattened list of numerical column names

# Create the ColumnTransformer
transformer = ColumnTransformer(
    transformers=[
        ('num', Pipeline(steps=[
            ('imputer', SimpleImputer(strategy='mean')),  # Impute missing values for numerical columns
            ('scaler', StandardScaler())  # Scale numerical features
        ]), numerical_column),
        ('cat', Pipeline(steps=[
            ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),  # Impute missing values for categorical columns
        ]), categorical_column),
        ('ord', Pipeline(steps=[
            ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),  # Impute missing values
            ('ord_encoder', OrdinalEncoder(categories=ordinal_categories, handle_unknown='use_encoded_value', unknown_value=-1))
        ]), ordinal_columns),  # Encode ordinal features
        ('onehot', OneHotEncoder(sparse=False, drop='first', handle_unknown='ignore'), one_hot_columns)  # One-hot encode categorical features
    ],
    remainder='passthrough'
)

# Fit and transform
X_train_transformed = transformer.fit_transform(X_train)

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [81]:

# Fit and transform
x_scale_train=transformer.fit_transform(X_train)

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [80]:
x_scale_test=transformer.transform(X_test)

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:202: UserWarning: Found unknown categories in columns [0, 2, 3, 4] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

y_train

In [82]:
X_train=pd.DataFrame(x_scale_train,columns=transformer.get_feature_names_out())
X_test=pd.DataFrame(x_scale_test,columns=transformer.get_feature_names_out())

In [83]:
X_train

,num__EmpID,num__MarriedID,num__Salary,num__Termd,num__PositionID,num__Zip,num__EngagementSurvey,num__EmpSatisfaction,num__SpecialProjectsCount,num__DaysLateLast30,...,onehot__TermReason_performance,onehot__TermReason_relocation out of area,onehot__TermReason_retiring,onehot__TermReason_return to school,onehot__TermReason_unhappy,onehot__Department_Executive Office,onehot__Department_IT/IS,onehot__Department_Production,onehot__Department_Sales,onehot__Department_Software Engineering
0,0.86539,-0.874729,-0.947696,-0.716231,0.340996,-0.249876,0.291716,1.254915,-0.528011,-0.34973,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,-1.484296,1.143211,-0.852641,-0.716231,0.340996,-0.201239,1.163282,-0.927139,-0.528011,-0.34973,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,-0.172843,-0.874729,-0.812147,1.396197,0.340996,-0.229866,-0.106715,0.163888,-0.528011,-0.34973,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.537527,-0.874729,-0.258925,-0.716231,0.340996,-0.22528,-0.579851,1.254915,-0.528011,-0.34973,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,-0.008912,1.143211,1.509981,-0.716231,-1.487398,-0.213537,-0.393087,-0.927139,1.630351,-0.34973,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,1.542973,-0.874729,-0.512715,1.396197,0.507213,-0.201656,-1.326907,-2.018165,-0.528011,4.015653,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
229,1.30254,-0.874729,-0.696784,-0.716231,0.340996,-0.221945,0.291716,0.163888,-0.528011,-0.34973,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
230,-1.517082,-0.874729,-0.431037,-0.716231,0.340996,-0.203115,-0.206322,0.163888,-0.528011,-0.34973,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
231,0.920033,1.143211,-0.337604,-0.716231,-2.318486,3.733094,0.042697,0.163888,-0.528011,-0.34973,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
232,0.023874,1.143211,-0.693622,-0.716231,0.340996,-0.224376,-0.417988,-0.927139,-0.528011,-0.34973,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [84]:
X_test

,num__EmpID,num__MarriedID,num__Salary,num__Termd,num__PositionID,num__Zip,num__EngagementSurvey,num__EmpSatisfaction,num__SpecialProjectsCount,num__DaysLateLast30,...,onehot__TermReason_performance,onehot__TermReason_relocation out of area,onehot__TermReason_retiring,onehot__TermReason_return to school,onehot__TermReason_unhappy,onehot__Department_Executive Office,onehot__Department_IT/IS,onehot__Department_Production,onehot__Department_Sales,onehot__Department_Software Engineering
0,-0.140057,-0.874729,0.832074,-0.716231,0.008561,-0.222709,-0.168969,-0.927139,-0.528011,-0.34973,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1.018392,-0.874729,-0.740602,-0.716231,-0.490092,-0.242372,1.163282,1.254915,2.062024,-0.34973,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.395453,1.143211,0.612212,-0.716231,-1.32118,-0.247653,-1.277104,-0.927139,2.062024,-0.34973,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,-0.631852,-0.874729,-0.110243,-0.716231,0.673431,0.006859,0.690146,0.163888,-0.528011,-0.34973,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.461025,-0.874729,1.425385,1.396197,2.16939,0.045768,-0.70436,1.254915,2.493696,-0.34973,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,0.297094,-0.874729,-0.128119,-0.716231,0.507213,-0.30303,-1.09034,-0.927139,-0.528011,-0.34973,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
74,-1.681014,1.143211,-0.224511,-0.716231,0.340996,-0.232297,1.163282,-0.927139,-0.528011,-0.34973,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
75,1.641332,1.143211,-0.412472,-0.716231,-2.318486,5.820116,-2.80857,-2.018165,-0.528011,1.832961,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
76,-0.686496,1.143211,-0.205419,-0.716231,0.340996,-0.221319,0.827106,1.254915,-0.528011,-0.34973,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
77,0.384524,-0.874729,-0.72828,-0.716231,0.340996,-0.242303,-1.239751,0.163888,-0.528011,-0.34973,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [337]:
le=LinearRegression()