In [148]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

In [149]:
df=pd.read_csv("D:/data science/Hr_Analyst/notebooks/data/HRDataset_v14.csv")

In [150]:
df

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,...,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,...,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,...,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,...,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

In [123]:
df.columns

Index(['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB',
       'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'DateofTermination', 'TermReason', 'EmploymentStatus',
       'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource',
       'PerformanceScore', 'EngagementSurvey', 'EmpSatisfaction',
       'SpecialProjectsCount', 'LastPerformanceReview_Date', 'DaysLateLast30',
       'Absences'],
      dtype='object')

In [151]:
df.isnull().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

In [152]:
#manage ull value
df=df.fillna(value=0)

In [153]:
df.describe()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Zip,ManagerID,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
count,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000
mean,10156.000000,0.398714,0.810289,0.434084,2.392283,4.610932,2.977492,0.093248,69020.684887,0.334405,16.845659,6555.482315,14.196141,4.110000,3.890675,1.218650,0.414791,10.237942
std,89.922189,0.490423,0.943239,0.496435,1.794383,1.083487,0.587072,0.291248,25156.636930,0.472542,6.223419,16908.396884,8.301386,0.789938,0.909241,2.349421,1.294519,5.852596
min,10001.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,45046.000000,0.000000,1.000000,1013.000000,0.000000,1.120000,1.000000,0.000000,0.000000,1.000000
25%,10078.500000,0.000000,0.000000,0.000000,1.000000,5.000000,3.000000,0.000000,55501.500000,0.000000,18.000000,1901.500000,9.500000,3.690000,3.000000,0.000000,0.000000,5.000000
50%,10156.000000,0.000000,1.000000,0.000000,1.000000,5.000000,3.000000,0.000000,62810.000000,0.000000,19.000000,2132.000000,14.000000,4.280000,4.000000,0.000000,0.000000,10.000000
75%,10233.500000,1.000000,1.000000,1.000000,5.000000,5.000000,3.000000,0.000000,72036.000000,1.000000,20.000000,2355.000000,19.000000,4.700000,5.000000,0.000000,0.000000,15.000000
max,10311.000000,1.000000,4.000000,1.000000,5.000000,6.000000,4.000000,1.000000,250000.000000,1.000000,30.000000,98052.000000,39.000000,5.000000,5.000000,8.000000,6.000000,20.000000

In [9]:
#At first dele inrelivant column

In [154]:
df.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

In [127]:
df.shape

(311, 36)

In [155]:
df=df.drop(columns=['Employee_Name','EmpID','State','Sex','DOB','MaritalDesc','CitizenDesc','RaceDesc','LastPerformanceReview_Date','RecruitmentSource','ManagerName','ManagerID','MaritalStatusID','GenderID','EmpStatusID','DeptID','PerfScoreID','FromDiversityJobFairID','LastPerformanceReview_Date'],axis=1)

In [156]:
df=df.drop(columns=['Zip','DateofHire','DateofTermination','EngagementSurvey'])

In [157]:
df.head()

,MarriedID,Salary,Termd,PositionID,Position,HispanicLatino,TermReason,EmploymentStatus,Department,PerformanceScore,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
0,0,62506,0,19,Production Technician I,No,N/A-StillEmployed,Active,Production,Exceeds,5,0,0,1
1,1,104437,1,27,Sr. DBA,No,career change,Voluntarily Terminated,IT/IS,Fully Meets,3,6,0,17
2,1,64955,1,20,Production Technician II,No,hours,Voluntarily Terminated,Production,Fully Meets,3,0,0,3
3,1,64991,0,19,Production Technician I,No,N/A-StillEmployed,Active,Production,Fully Meets,5,0,0,15
4,0,50825,1,19,Production Technician I,No,return to school,Voluntarily Terminated,Production,Fully Meets,4,0,0,2

In [158]:
df.shape

(311, 14)

In [159]:
df.isnull().sum()

MarriedID               0
Salary                  0
Termd                   0
PositionID              0
Position                0
HispanicLatino          0
TermReason              0
EmploymentStatus        0
Department              0
PerformanceScore        0
EmpSatisfaction         0
SpecialProjectsCount    0
DaysLateLast30          0
Absences                0
dtype: int64

In [16]:
#remove all null value from dataset

In [133]:
df=df.fillna(value=0)

In [160]:
x=df.drop(columns='EmploymentStatus')

In [161]:
y=df['EmploymentStatus']

In [162]:
y

0                      Active
1      Voluntarily Terminated
2      Voluntarily Terminated
3                      Active
4      Voluntarily Terminated
                ...
306                    Active
307    Voluntarily Terminated
308                    Active
309                    Active
310                    Active
Name: EmploymentStatus, Length: 311, dtype: object

In [163]:
x.head()

,MarriedID,Salary,Termd,PositionID,Position,HispanicLatino,TermReason,Department,PerformanceScore,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
0,0,62506,0,19,Production Technician I,No,N/A-StillEmployed,Production,Exceeds,5,0,0,1
1,1,104437,1,27,Sr. DBA,No,career change,IT/IS,Fully Meets,3,6,0,17
2,1,64955,1,20,Production Technician II,No,hours,Production,Fully Meets,3,0,0,3
3,1,64991,0,19,Production Technician I,No,N/A-StillEmployed,Production,Fully Meets,5,0,0,15
4,0,50825,1,19,Production Technician I,No,return to school,Production,Fully Meets,4,0,0,2

In [164]:
categorical_columns=x.select_dtypes(include='object').columns

In [165]:
numerical_columns=x.select_dtypes(exclude='object').columns

In [166]:
categorical_columns

Index(['Position', 'HispanicLatino', 'TermReason', 'Department',
       'PerformanceScore'],
      dtype='object')

In [167]:
numerical_columns

Index(['MarriedID', 'Salary', 'Termd', 'PositionID', 'EmpSatisfaction',
       'SpecialProjectsCount', 'DaysLateLast30', 'Absences'],
      dtype='object')

In [168]:
df[categorical_columns]["Position"].value_counts

<bound method IndexOpsMixin.value_counts of 0       Production Technician I
1                       Sr. DBA
2      Production Technician II
3       Production Technician I
4       Production Technician I
                 ...
306    Production Technician II
307     Production Technician I
308                         CIO
309                Data Analyst
310     Production Technician I
Name: Position, Length: 311, dtype: object>

In [143]:
df[categorical_columns]["HispanicLatino"].value_counts()

HispanicLatino
No     282
Yes     27
no       1
yes      1
Name: count, dtype: int64

In [169]:
x.shape

(311, 13)

In [170]:
y.shape

(311,)

In [141]:
df.head()

,EmpID,MarriedID,Salary,Termd,PositionID,Position,Zip,HispanicLatino,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
0,10026,0,62506,0,19,Production Technician I,1960,No,7/5/2011,0,N/A-StillEmployed,Active,Production,Exceeds,4.60,5,0,0,1
1,10084,1,104437,1,27,Sr. DBA,2148,No,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Fully Meets,4.96,3,6,0,17
2,10196,1,64955,1,20,Production Technician II,1810,No,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Fully Meets,3.02,3,0,0,3
3,10088,1,64991,0,19,Production Technician I,1886,No,1/7/2008,0,N/A-StillEmployed,Active,Production,Fully Meets,4.84,5,0,0,15
4,10069,0,50825,1,19,Production Technician I,2169,No,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Fully Meets,5.00,4,0,0,2

In [145]:
categorical_columns

Index(['Position', 'HispanicLatino', 'TermReason', 'Department',
       'PerformanceScore'],
      dtype='object')

In [147]:
df[categorical_columns]['PerformanceScore'].value_counts()

PerformanceScore
Fully Meets          243
Exceeds               37
Needs Improvement     18
PIP                   13
Name: count, dtype: int64

In [53]:
numerical_columns

Index(['MarriedID', 'Salary', 'Termd', 'PositionID', 'EmpSatisfaction',
       'SpecialProjectsCount', 'DaysLateLast30', 'Absences'],
      dtype='object')

In [56]:
x.value_counts().head()

MarriedID  Salary  Termd  PositionID  Position                 HispanicLatino  TermReason         Department         PerformanceScore  EmpSatisfaction  SpecialProjectsCount  DaysLateLast30  Absences
0          45046   0      19          Production Technician I  No              N/A-StillEmployed  Production         Fully Meets       5                0                     0               2           1
1          52599   0      15          Network Engineer         No              N/A-StillEmployed  IT/IS              Fully Meets       3                6                     0               6           1
           54670   1      19          Production Technician I  Yes             Another position   Production         Fully Meets       4                0                     0               12          1
           54285   0      19          Production Technician I  No              N/A-StillEmployed  Production         Fully Meets       3                0                     0               3           1
           54132   0      19          Production Technician I  No              N/A-StillEmployed  Production         Fully Meets       4                0                     0               8           1
Name: count, dtype: int64

In [57]:
numerical_columns.value_counts()

MarriedID               1
Salary                  1
Termd                   1
PositionID              1
EmpSatisfaction         1
SpecialProjectsCount    1
DaysLateLast30          1
Absences                1
Name: count, dtype: int64

In [92]:
categorical_columns.value_counts()

Position            1
HispanicLatino      1
TermReason          1
Department          1
PerformanceScore    1
Name: count, dtype: int64

In [300]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline


# Define column lists
categorical_column = ['PerformanceScore']
ordinal_categories = [['Exceeds', 'Fully Meets', 'Needs Improvement', 'PIP']]  # Wrapped in another list for OrdinalEncoder
ordinal_columns = ['PerformanceScore']
one_hot_columns = ['Position','HispanicLatino','TermReason','Department']
numerical_column = ['MarriedID','Salary','Termd','PositionID', 
                     'EmpSatisfaction', 'SpecialProjectsCount',
                    'DaysLateLast30', 'Absences']  # Removed 'Sex' from numerical columns

# Create the ColumnTransformer
transformer = ColumnTransformer(
    transformers=[
        ('num', Pipeline(steps=[
            ('imputer', SimpleImputer(strategy='mean')),  # Impute missing values for numerical columns
            ('scaler', StandardScaler())  # Scale numerical features
        ]), numerical_column),
        ('cat', Pipeline(steps=[
            ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),  # Impute missing values for categorical columns
            ('onehot', OneHotEncoder(sparse_output=False, drop='first', handle_unknown='ignore'))  # One-hot encode categorical features
        ]), one_hot_columns),
        ('ord', Pipeline(steps=[
            ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),  # Impute missing values
            ('ord_encoder', OrdinalEncoder(categories=ordinal_categories, handle_unknown='use_encoded_value', unknown_value=-1))
        ]), ordinal_columns)  # Encode ordinal features
    ],
    remainder='passthrough'
)

In [301]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [302]:
X_train.head()

,MarriedID,Salary,Termd,PositionID,Position,HispanicLatino,TermReason,Department,PerformanceScore,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
140,0,45069,0,19,Production Technician I,No,N/A-StillEmployed,Production,Fully Meets,5,0,0,7
208,1,47414,0,19,Production Technician I,No,N/A-StillEmployed,Production,Exceeds,3,0,0,13
279,0,48413,1,19,Production Technician I,No,return to school,Production,Fully Meets,4,0,0,1
203,0,62061,0,19,Production Technician I,No,N/A-StillEmployed,Production,Fully Meets,5,0,0,4
144,1,105700,0,8,Database Administrator,No,N/A-StillEmployed,IT/IS,Fully Meets,3,5,0,2

In [303]:

# Fit and transform
x_scale_train=transformer.fit_transform(X_train)

In [304]:
x_scale_test=transformer.transform(X_test)

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:202: UserWarning: Found unknown categories in columns [0, 2] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [305]:
y_train

140                    Active
208                    Active
279    Voluntarily Terminated
203                    Active
144                    Active
                ...
188    Voluntarily Terminated
71                     Active
106                    Active
270                    Active
102                    Active
Name: EmploymentStatus, Length: 233, dtype: object

y_train

In [306]:
X_train=pd.DataFrame(x_scale_train,columns=transformer.get_feature_names_out())
X_test=pd.DataFrame(x_scale_test,columns=transformer.get_feature_names_out())

In [307]:
print(X_train.shape)

(233, 58)

In [308]:
print(y_train.shape)

(233,)

In [309]:
X_test

,num__MarriedID,num__Salary,num__Termd,num__PositionID,num__EmpSatisfaction,num__SpecialProjectsCount,num__DaysLateLast30,num__Absences,cat__Position_Administrative Assistant,cat__Position_Area Sales Manager,...,cat__TermReason_relocation out of area,cat__TermReason_retiring,cat__TermReason_return to school,cat__TermReason_unhappy,cat__Department_Executive Office,cat__Department_IT/IS,cat__Department_Production,cat__Department_Sales,cat__Department_Software Engineering,ord__PerformanceScore
0,-0.874729,0.832074,-0.716231,0.008561,-0.927139,-0.528011,-0.349730,1.576856,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,-0.874729,-0.740602,-0.716231,-0.490092,1.254915,2.062024,-0.349730,1.054228,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,1.143211,0.612212,-0.716231,-1.321180,-0.927139,2.062024,-0.349730,-1.384702,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,-0.874729,-0.110243,-0.716231,0.673431,0.163888,-0.528011,-0.349730,-0.339446,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,-0.874729,1.425385,1.396197,2.169390,1.254915,2.493696,-0.349730,-1.384702,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,-0.874729,-0.128119,-0.716231,0.507213,-0.927139,-0.528011,-0.349730,-0.165237,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
74,1.143211,-0.224511,-0.716231,0.340996,-0.927139,-0.528011,-0.349730,1.576856,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
75,1.143211,-0.412472,-0.716231,-2.318486,-2.018165,-0.528011,1.832961,-0.862074,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0
76,1.143211,-0.205419,-0.716231,0.340996,1.254915,-0.528011,-0.349730,-0.687865,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
77,-0.874729,-0.728280,-0.716231,0.340996,0.163888,-0.528011,-0.349730,0.008972,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [310]:
y_train

140                    Active
208                    Active
279    Voluntarily Terminated
203                    Active
144                    Active
                ...
188    Voluntarily Terminated
71                     Active
106                    Active
270                    Active
102                    Active
Name: EmploymentStatus, Length: 233, dtype: object

In [311]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [313]:
y_train_encoded=le.fit_transform(y_train)

In [314]:
y_test_encoded=le.transform(y_test)

In [315]:
df = pd.DataFrame({'Original': y_train, 'Encoded': y_train_encoded})
df = pd.DataFrame({'Original': y_test, 'Encoded': y_test_encoded})

In [316]:
df

                 Original  Encoded
290                Active        0
9                  Active        0
57                 Active        0
60                 Active        0
25   Terminated for Cause        1
..                    ...      ...
30                 Active        0
22                 Active        0
267                Active        0
56                 Active        0
148                Active        0

[78 rows x 2 columns]

In [317]:
X_train

,num__MarriedID,num__Salary,num__Termd,num__PositionID,num__EmpSatisfaction,num__SpecialProjectsCount,num__DaysLateLast30,num__Absences,cat__Position_Administrative Assistant,cat__Position_Area Sales Manager,...,cat__TermReason_relocation out of area,cat__TermReason_retiring,cat__TermReason_return to school,cat__TermReason_unhappy,cat__Department_Executive Office,cat__Department_IT/IS,cat__Department_Production,cat__Department_Sales,cat__Department_Software Engineering,ord__PerformanceScore
0,-0.874729,-0.947696,-0.716231,0.340996,1.254915,-0.528011,-0.349730,-0.513656,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,1.143211,-0.852641,-0.716231,0.340996,-0.927139,-0.528011,-0.349730,0.531600,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,-0.874729,-0.812147,1.396197,0.340996,0.163888,-0.528011,-0.349730,-1.558912,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,-0.874729,-0.258925,-0.716231,0.340996,1.254915,-0.528011,-0.349730,-1.036284,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,1.143211,1.509981,-0.716231,-1.487398,-0.927139,1.630351,-0.349730,-1.384702,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,-0.874729,-0.512715,1.396197,0.507213,-2.018165,-0.528011,4.015653,-0.687865,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0
229,-0.874729,-0.696784,-0.716231,0.340996,0.163888,-0.528011,-0.349730,-1.558912,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
230,-0.874729,-0.431037,-0.716231,0.340996,0.163888,-0.528011,-0.349730,-1.210493,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
231,1.143211,-0.337604,-0.716231,-2.318486,0.163888,-0.528011,-0.349730,1.402647,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
232,1.143211,-0.693622,-0.716231,0.340996,-0.927139,-0.528011,-0.349730,1.576856,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [361]:
y_train=pd.DataFrame(y_train_encoded)
y_test=pd.DataFrame(y_test_encoded)

In [321]:
y_train

     0
0    0
1    0
2    2
3    0
4    0
..  ..
228  2
229  0
230  0
231  0
232  0

[233 rows x 1 columns]

In [86]:
X_train

,num__MarriedID,num__Salary,num__Termd,num__PositionID,num__EmpSatisfaction,num__SpecialProjectsCount,num__DaysLateLast30,num__Absences,cat__Position_Administrative Assistant,cat__Position_Area Sales Manager,...,cat__TermReason_relocation out of area,cat__TermReason_retiring,cat__TermReason_return to school,cat__TermReason_unhappy,cat__Department_Executive Office,cat__Department_IT/IS,cat__Department_Production,cat__Department_Sales,cat__Department_Software Engineering,ord__PerformanceScore
0,-0.874729,-0.947696,-0.716231,0.340996,1.254915,-0.528011,-0.349730,-0.513656,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,1.143211,-0.852641,-0.716231,0.340996,-0.927139,-0.528011,-0.349730,0.531600,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,-0.874729,-0.812147,1.396197,0.340996,0.163888,-0.528011,-0.349730,-1.558912,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,-0.874729,-0.258925,-0.716231,0.340996,1.254915,-0.528011,-0.349730,-1.036284,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,1.143211,1.509981,-0.716231,-1.487398,-0.927139,1.630351,-0.349730,-1.384702,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,-0.874729,-0.512715,1.396197,0.507213,-2.018165,-0.528011,4.015653,-0.687865,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0
229,-0.874729,-0.696784,-0.716231,0.340996,0.163888,-0.528011,-0.349730,-1.558912,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
230,-0.874729,-0.431037,-0.716231,0.340996,0.163888,-0.528011,-0.349730,-1.210493,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
231,1.143211,-0.337604,-0.716231,-2.318486,0.163888,-0.528011,-0.349730,1.402647,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
232,1.143211,-0.693622,-0.716231,0.340996,-0.927139,-0.528011,-0.349730,1.576856,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [192]:
y_train

     0
0    0
1    0
2    2
3    0
4    0
..  ..
228  2
229  0
230  0
231  0
232  0

[233 rows x 1 columns]

In [322]:
print(X_train.dtypes)

num__MarriedID                                      float64
num__Salary                                         float64
num__Termd                                          float64
num__PositionID                                     float64
num__EmpSatisfaction                                float64
num__SpecialProjectsCount                           float64
num__DaysLateLast30                                 float64
num__Absences                                       float64
cat__Position_Administrative Assistant              float64
cat__Position_Area Sales Manager                    float64
cat__Position_BI Developer                          float64
cat__Position_Data Analyst                          float64
cat__Position_Data Analyst                          float64
cat__Position_Data Architect                        float64
cat__Position_Database Administrator                float64
cat__Position_Director of Operations                float64
cat__Position_Director of Sales                     float64
cat__Position_IT Director                           float64
cat__Position_IT Manager - DB                       float64
cat__Position_IT Manager - Infra                    float64
cat__Position_IT Support                            float64
cat__Position_Network Engineer                      float64
cat__Position_President & CEO                       float64
cat__Position_Production Manager                    float64
cat__Position_Production Technician I               float64
cat__Position_Production Technician II              float64
cat__Position_Sales Manager                         float64
cat__Position_Senior BI Developer                   float64
cat__Position_Software Engineer                     float64
cat__Position_Software Engineering Manager          float64
cat__Position_Sr. Accountant                        float64
cat__Position_Sr. DBA                               float64
cat__Position_Sr. Network Engineer                  float64
cat__HispanicLatino_Yes                             float64
cat__HispanicLatino_no                              float64
cat__HispanicLatino_yes                             float64
cat__TermReason_Fatal attraction                    float64
cat__TermReason_N/A-StillEmployed                   float64
cat__TermReason_attendance                          float64
cat__TermReason_career change                       float64
cat__TermReason_gross misconduct                    float64
cat__TermReason_hours                               float64
cat__TermReason_maternity leave - did not return    float64
cat__TermReason_medical issues                      float64
cat__TermReason_military                            float64
cat__TermReason_more money                          float64
cat__TermReason_no-call, no-show                    float64
cat__TermReason_performance                         float64
cat__TermReason_relocation out of area              float64
cat__TermReason_retiring                            float64
cat__TermReason_return to school                    float64
cat__TermReason_unhappy                             float64
cat__Department_Executive Office                    float64
cat__Department_IT/IS                               float64
cat__Department_Production                          float64
cat__Department_Sales                               float64
cat__Department_Software Engineering                float64
ord__PerformanceScore                               float64
dtype: object

In [323]:

print(y_train.dtypes)

0    int32
dtype: object

In [324]:
X_train.head()

,num__MarriedID,num__Salary,num__Termd,num__PositionID,num__EmpSatisfaction,num__SpecialProjectsCount,num__DaysLateLast30,num__Absences,cat__Position_Administrative Assistant,cat__Position_Area Sales Manager,...,cat__TermReason_relocation out of area,cat__TermReason_retiring,cat__TermReason_return to school,cat__TermReason_unhappy,cat__Department_Executive Office,cat__Department_IT/IS,cat__Department_Production,cat__Department_Sales,cat__Department_Software Engineering,ord__PerformanceScore
0,-0.874729,-0.947696,-0.716231,0.340996,1.254915,-0.528011,-0.34973,-0.513656,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,1.143211,-0.852641,-0.716231,0.340996,-0.927139,-0.528011,-0.34973,0.531600,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,-0.874729,-0.812147,1.396197,0.340996,0.163888,-0.528011,-0.34973,-1.558912,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,-0.874729,-0.258925,-0.716231,0.340996,1.254915,-0.528011,-0.34973,-1.036284,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,1.143211,1.509981,-0.716231,-1.487398,-0.927139,1.630351,-0.34973,-1.384702,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [325]:
y_train.head()

   0
0  0
1  0
2  2
3  0
4  0

In [326]:
cls=RandomForestClassifier()

In [328]:
scale_train=cls.fit(X_train,y_train)

C:\Users\AYAN\AppData\Local\Temp\ipykernel_10536\1059021411.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  scale_train=cls.fit(X_train,y_train)

In [329]:
y_pred=cls.predict(X_test)

In [330]:
from sklearn.metrics import accuracy_score

In [331]:
accuracy=accuracy_score(y_pred,y_test)

In [332]:
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.97

In [333]:
reg=RandomForestRegressor(n_estimators=100,random_state=42)

In [334]:
reg.fit(X_train,y_train)

C:\Users\AYAN\AppData\Local\Temp\ipykernel_10536\2457483006.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  reg.fit(X_train,y_train)

RandomForestRegressor(random_state=42)

In [278]:
y_pred=reg.predict(X_test)

In [335]:
from sklearn import metrics

In [336]:
x.shape

(311, 13)

In [337]:
X_train.shape

(233, 58)

In [283]:
y_train.shape

(233, 1)

In [284]:
y_pred.shape

(78,)

In [365]:
y_pred=ln.predict(X_test)

In [366]:
accuracy_score(y_pred,y_test)

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\multiclass.py:380: RuntimeWarning: invalid value encountered in cast
  if xp.any(data != data.astype(int)):

ValueError: Classification metrics can't handle a mix of continuous and multiclass targets

In [368]:
from sklearn.svm import SVC

model = SVC()  # 'ovo' is also an option
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [369]:
accuracy_score(y_test,y_pred)

0.9615384615384616

In [370]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=3)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [371]:
accuracy_score(y_test,y_pred)

0.9487179487179487